<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="sautinsoft.document" version="3.6.12.4" targetFramework="net461" />
  <package id="Xceed.Document.NET" version="1.6.19076.19550" targetFramework="net461" />
  <package id="Xceed.Pdf" version="1.6.19076.19550" targetFramework="net461" />
  <package id="Xceed.PDFCreator.NET" version="1.6.19076.19550" targetFramework="net461" />
  <package id="Xceed.Products.Documents.Libraries.Full" version="1.6.19076.19550" targetFramework="net461" />
  <package id="Xceed.Words.NET" version="1.6.19076.19550" targetFramework="net461" />
</packages>